.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #f1f6fd;
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.3px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 12px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

label {
  display: block;
  font-weight: 700;
  text-align: left;
}

.login-page-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 50px 5% 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  text-align: center;
}

.signup-label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: -1;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 2px;
  opacity: 0.6;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.login-head {
  margin-top: 50px;
  margin-bottom: 82px;
  font-size: 28px;
  line-height: 1.3em;
  font-weight: 700
}

.signup-field {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: #fff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: border-color 200ms ease, box-shadow 200ms ease, background-color 200ms ease;
  transition: border-color 200ms ease, box-shadow 200ms ease, background-color 200ms ease;
  font-size: 16px;
  text-align: left;
}

.signup-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #1875f0;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 0 4px 0 #1875f0;
}

.login-container {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.error-message {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.login-page-link {
  color: #000;
  font-weight: 600;
}

.login-image {
  height: 35px;
}

.login-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 13px 18px 12px;
  border-radius: 4px;
  background-color: #005376;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.btn-default{
  transition-duration: 0.4s;
}
.btn-default:hover{
  background-color: #17B978; /* Green */
  color: white;
}

.login-button:hover {
  background-color: #1875f0;
}

.terms-text {
  position: relative;
  top: -2px;
  padding-left: 5px;
  color: rgba(51, 51, 51, 0.6);
  font-size: 13px;
}

.field-wrapper {
  position: relative;
  width: 100%;
  min-height: 30px;
}

.field-wrapper.first-name-wrapper {
  margin-right: 15px;
}

.made-with-ms {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 100;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block {
  position: absolute;
  top: -30px;
  right: 0px;
  z-index: 0;
  width: 30px;
  height: 30px;
  background-image: url('../images/Close.svg');
  background-position: 50% 50%;
  background-size: 12px 1000px;
  background-repeat: no-repeat;
}

.made-with-memberstack {
  overflow: hidden;
  width: 210px;
  float: right;
  clear: both;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(26, 39, 81, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.ms-image {
  position: relative;
  z-index: 2;
  min-width: 200px;
}

.memberstack-tag {
  position: absolute;
  top: -12px;
  right: -12px;
  display: block;
  overflow: hidden;
  width: 25px;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6px;
  padding-left: 6px;
  border: 2px solid #f5f8fa;
  border-radius: 50%;
  background-color: #2aa8ff;
  box-shadow: 0 0 10px 1px #fff;
  font-family: Varela, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.memberstack-tag:hover {
  overflow: visible;
}

.memberstack-tag-label {
  position: absolute;
  top: -3px;
  right: 30px;
  width: 158px;
  padding-left: 12px;
  border-radius: 3px;
  background-color: #000;
}

.memberstack-diamond {
  position: absolute;
  top: 8px;
  right: -3px;
  bottom: 0px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: transparent;
}

.memberstack-bolt {
  margin-top: -6px;
}

.memberstack-form {
  position: relative;
  padding-top: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.login-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #02c38e;
}

.login-link:hover {
  color: #1875f0;
}

.secondary-action {
  font-size: 15px;
  line-height: 1.3em;
}

.secondary-action.forgot-password {
  margin-top: -5px;
  text-align: right;
}

.sign-up-nav-link {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 20px;
  margin-right: 50px;
  padding: 10px 20px;
  color: #000;
  font-size: 18px;
}

.gdpr-checkbox {
  margin-top: -5px;
  text-align: left;
}

.page-wrapper {
  overflow: hidden;
  width: 100%;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.navigation-item {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  opacity: 0.6;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  background-color: transparent;
  opacity: 1;
  color: #02c38e;
  font-weight: 600;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.navigation-item.profile-nav {
  margin-top: -1em;
  margin-bottom: -1em;
  font-size: 15px;
}

.navigation-item.logout-link {
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 0em;
  padding-top: 1.5em;
  padding-bottom: 0em;
  border-top: 1px solid #f3f3f3;
}

.navigation-item.dropdown-nav-item {
  margin-left: 0em;
}

.top-nav {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2em 1.5em 1em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  background-color: #005376;
}

.top-nav.footer-nav {
  border-top: 1px solid #f3f3f3;
}

.navigation-icon {
  width: 20px;
  margin-right: 0.5em;
  border: 0px solid #000;
  font-family: 'Fa solid 900', sans-serif;
  font-style: normal;
  text-align: right;
  letter-spacing: 3px;
}

.navigation-icon.memberstack-logo {
  width: 24px;
}

.profile-pic {
  overflow: hidden;
  max-width: 34px;
  margin-right: 0.75em;
  border: 2px solid #fff;
  border-radius: 50%;
}

.navigation-menu {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 10px 0 rgba(51, 51, 51, 0.1);
}

.webflow-diamond {
  position: absolute;
  top: -5px;
  right: 17px;
  bottom: auto;
  z-index: 0;
  width: 12px;
  height: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(219, 226, 235, 0.5);
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-dropdown-list {
  opacity: 0;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.nav-dropdown-list.w--open {
  top: 50px;
  right: 10px;
  z-index: 2;
  max-height: 80vh;
  min-height: 20px;
  margin-top: 0px;
  padding-bottom: 25px;
  border: 1px solid #e9f2f5;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 20px 30px -10px rgba(45, 62, 80, 0.12);
  opacity: 1;
}

.dropdown {
  margin-right: 0px;
  margin-left: 0px;
}

.dashboard-section {
  padding: 1em 0em;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.dash-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -1%;
  margin-left: -1%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.dash-row.masonry {
  display: block;
  min-height: 100vh;
  padding-bottom: 50px;
  -webkit-column-count: 3;
  column-count: 3;
}

.dash-row.cms-dash-row {
  margin-right: -1%;
  margin-left: -1%;
}

.white-box {
  width: 48%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-left: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f3;
  border-radius: 4px;
  background-color: #fff;
/* box-shadow: 11px 11px 15px -5px rgba(0, 0, 0, 0.1); */
  color: #333;
}

.white-box.link-box {
  -webkit-transition: box-shadow 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, color 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
}

.white-box.link-box:hover {
  box-shadow: 21px 21px 25px -10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
}

.white-box.link-box.paper-box {
  position: relative;
  width: 23%;
}

.white-box.link-box.asset-box {
  position: relative;
  overflow: hidden;
  width: auto;
  margin-bottom: 4%;
}

.white-box.progress-box {
  width: 100%;
}

.white-box.full-width {
  width: 100%;
}

.white-box.third {
  width: 31%;
  border-radius: 4%;
}

.white-box.two-third {
  width: 64%;
  margin-right: 1%;
  margin-left: 1%;
}

.white-box.center-message {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.box-padding {
  padding: 1.6em;
}

.box-padding.paper-padding {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.25em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.box-padding.app-padding-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dash-tab-wrapper {
  min-height: 90vh;
  padding-bottom: 2em;
}

.app-logo-circle {
  width: 60px;
  height: 60px;
  margin-right: 1.6em;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  box-shadow: 7px 7px 12px -2px rgba(0, 0, 0, 0.1);
}

.app-heading {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0.45em;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 24px;
}

.app-heading.connected {
  color: #02c908;
  font-size: 16px;
}

.app-heading.connect {
  margin-bottom: -1em;
  margin-left: 0.25em;
  padding: 0.25em 1em;
  border-radius: 20px;
  background-color: #f3f3f3;
  font-size: 15px;
  line-height: 20px;
}

.progress-bar-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1em;
  margin-top: 1em;
  border-radius: 20px;
  background-color: #f1f6fd;
  box-shadow: inset 1px 1px 5px 0 rgba(51, 51, 51, 0.09);
}

.progress-bar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 31%;
  border-radius: 20px;
  background-color: #1875f0;
  background-image: linear-gradient(96deg, #a279f9, #1875f0);
}

.progress-text-row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.progress-icon {
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-bottom: 0.25em;
  margin-left: auto;
  padding: 7px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 700;
}

.progress-text-column {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
}

.doc-heading {
  margin-top: 0px;
  margin-bottom: auto;
}

.paper {
  width: 100%;
}

.doc-description {
  overflow: hidden;
  max-height: 75px;
  margin-bottom: 1em;
}

.doc-date {
  color: rgba(51, 51, 51, 0.5);
  font-size: 14px;
}

.doc-image {
  width: 20%;
  margin-bottom: auto;
  text-align: left;
}

.template-right {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* height: 90vh;
  min-height: 500px; */
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 7px 7px 20px -5px rgba(0, 0, 0, 0.1);
}

.html-embed {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 55px;
}

.filter-drawer {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 10000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 364px;
  padding: 80px 60px 80px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  box-shadow: 10px 0 20px -10px rgba(45, 62, 80, 0.12);
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
}

.option-svg {
  position: relative;
  min-width: 30px;
  padding: 3px 7px 4px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(45, 62, 80, 0.12);
  -webkit-transition: box-shadow 200ms ease, color 200ms ease;
  transition: box-shadow 200ms ease, color 200ms ease;
  color: rgba(38, 61, 73, 0.9);
  font-size: 19px;
  text-align: center;
}

.option-svg:hover {
  box-shadow: 0 10px 10px -2px rgba(45, 62, 80, 0.12);
  color: #2aa8ff;
}

.iframe-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1);
}

.template-left {
  width: 25%;
  min-width: 290px;
  margin-right: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.control-bar {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 57px;
  padding: 8px 10px 3px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.template-height {
  padding-bottom: 70%;
}

.iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0%;
  bottom: 0%;
  width: 166.6666%;
  height: 166.6666%;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.iframe.hide {
  display: none;
}

.option-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 100%;
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.option-row.center {
  margin-right: auto;
}

.project-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.device-hover {
  position: absolute;
  right: -10px;
  bottom: 125%;
  display: none;
  width: 90px;
  height: 57px;
  padding-top: 10px;
  border-radius: 5px;
  background-color: #000;
  opacity: 0;
  color: #fff;
  font-size: 11px;
  text-align: center;
}

.project-message {
  margin-bottom: 1em;
}

.copyright {
  opacity: 0.4;
  color: #fff;
  font-size: 12px;
}

.social-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.social-link {
  width: 25px;
  height: 25px;
  margin-right: 6px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: opacity 200ms ease, -webkit-filter 200ms ease;
  transition: opacity 200ms ease, -webkit-filter 200ms ease;
  transition: filter 200ms ease, opacity 200ms ease;
  transition: filter 200ms ease, opacity 200ms ease, -webkit-filter 200ms ease;
}

.social-link:hover {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.large-number {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  line-height: 1.6;
}

.colorful-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 1em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(24, 117, 240, 0.1);
  font-family: 'Fa 400', sans-serif;
  color: #1875f0;
  text-align: center;
}

.colorful-icon.green {
  background-color: rgba(2, 201, 8, 0.1);
  color: #02c908;
}

.colorful-icon.purple {
  background-color: rgba(106, 117, 216, 0.1);
  color: #a279f9;
}

.center-label {
  margin-top: 1em;
  text-align: center;
}

.field-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.center-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cms-paper-link {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: block;
}

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ms-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000000;
  display: none;
  padding-bottom: 5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.ms-loader.ms-loader-style-override {
  background-color: rgba(241, 246, 253, 0.9);
}

.ms-load-dot {
  background-color: #fff;
}

.ms-load-dot.ms-load-dot-override {
  background-color: #000;
}

.mobile-footer-spacing {
  display: none;
}

.relative {
  position: relative;
}

.delete-me-welcome {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100000;
  display: block;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
}

.tour-diamond {
  position: absolute;
  left: 0%;
  top: -7px;
  right: 0%;
  bottom: auto;
  z-index: 1;
  width: 16px;
  height: 16px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #2aa8ff;
  border-radius: 2px;
  background-color: #f4f8fa;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tour-diamond.top-right {
  left: auto;
  right: 20px;
}

.tour-dot {
  position: absolute;
  left: auto;
  top: -30px;
  right: 5%;
  bottom: auto;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #2aa8ff;
  box-shadow: 0 0 0 30px rgba(42, 168, 255, 0.53);
  color: #64636e;
}

.tour-dot.preview-tour-dot {
  top: 18px;
  right: -9%;
  color: transparent;
}

.help-tooltip-content {
  position: relative;
  z-index: 2;
  padding: 20px 30px 22px 22px;
  border-radius: 5px;
  background-color: #f4f8fa;
}

.help-tooltip {
  position: absolute;
  left: 100%;
  top: 20px;
  display: none;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8e3f0;
  border-radius: 5px;
  background-color: #f4f8fa;
  box-shadow: 1px 1px 8px 1px rgba(45, 62, 80, 0.12);
  font-size: 11.5px;
  line-height: 1.4em;
  font-weight: 400;
  text-align: left;
}

.help-tooltip.tour-tooltip {
  left: auto;
  top: 0%;
  right: 20px;
  bottom: auto;
  z-index: 99;
  display: block;
  width: 420px;
  min-height: 0px;
  margin-top: 20px;
  border: 3px solid #2aa8ff;
  background-color: #f4f8fa;
  box-shadow: 0 -5px 20px -5px rgba(45, 62, 80, 0.12), 1px 1px 8px 1px rgba(45, 62, 80, 0.12);
  color: #000;
  font-size: 14px;
  line-height: 1.7em;
}

.help-title {
  margin-bottom: 3px;
  font-size: 110%;
  line-height: 1.5em;
  font-weight: 800;
}

.help-title.inline-block {
  margin-bottom: 13px;
  font-size: 120%;
}

.tour-bottom-row {
  position: relative;
  bottom: 3px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 10px 10px 22px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #d8e3f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  color: #64636e;
}

.template-tag {
  display: none;
}

.tutorial-alert-bar {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 42px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2aa8ff;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
  color: #fff;
  text-align: center;
}

.tutorial-alert-bar:hover {
  background-color: #248ed6;
}

.video-icon {
  position: relative;
  left: -6px;
  top: 0px;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  padding-left: 2px;
  border-radius: 50px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.video-svg {
  position: relative;
  top: -1px;
  width: 11px;
}

.ms-iframe {
  position: fixed;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 100000000000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.ms-iframe-embed {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 180px;
  height: 70px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.sign-up-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #02c38e;
  font-weight: 700;
}

.sign-up-link:hover {
  color: #1875f0;
}

.text-block {
  text-align: center;
}

.text-block-2 {
  color: #1875f0;
}

.image {
  padding-top: 0px;
  padding-bottom: 0px;
}

.map {
  height: 100%;
  margin-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: rgba(23, 185, 120, 0.5);
}

.heading-2 {
  margin-top: 0px;
}

.submit-button-1 {
  position: static;
  left: 0px;
  top: 12px;
  right: 57px;
  /* margin-left: 23px; */
  padding-right: 91px;
  padding-left: 91px;
  border-radius: 4px;
  background-color: #005376;
}

.submit-button {
  position: static;
  left: 0px;
  top: 12px;
  right: 57px;
  /* margin-left: 23px; */
  padding-right: 57px;
  padding-left: 57px;
  border-radius: 4px;
  background-color: #005376;
}

.success-message {
  margin-right: -16px;
  margin-left: -16px;
  padding: 10px 5px;
  border-radius: 4px;
  background-color: rgba(2, 195, 142, 0.06);
}

.driver {
  margin-bottom: 21px;
  padding-top: 26px;
  color: #005376;
  font-weight: 700;
}

.columns {
  width: 50%;
}

.paragraph {
  margin-bottom: 10px;
  padding-top: 0px;
  color: #005376;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

.pickup-time {
  position: relative;
  top: -16px;
  right: 8px;
  width: 100px;
  margin: 0px;
  padding-top: 0px;
  padding-right: 28px;
  padding-left: 0px;
  color: #005376;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-align: right;
  white-space: nowrap;
}

.column {
  right: -126px;
  bottom: 8px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.link-block {
  width: 250vw;
  padding-right: 0px;
  padding-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #005376;
  border-radius: 4px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-2 {
  margin-top: 10px;
  margin-left: 0px;
}

.column-2 {
  padding: 0px;
}

.pickup-time-copy {
  position: relative;
  right: 8px;
  margin-top: 15px;
  margin-right: 4px;
  margin-bottom: 15px;
  padding-top: 9px;
  color: #005376;
  font-weight: 700;
  text-align: right;
}

.distance-summary {
  margin-top: 8px;
  color: #02c38e;
  font-size: 12px;
}

.text-span {
  color: #005376;
}

.text-span-2 {
  color: #005376;
  font-weight: 700;
}

.column-3 {
  left: -40px;
}

.column-4 {
  left: -40px;
}

.column-5 {
  left: -40px;
}

.checkbox-field {
  padding-top: 12px;
  padding-bottom: 12px;
}

.field-label {
  padding-top: 12px;
}

.field-label-2 {
  padding-top: 12px;
}

.checkbox {
  margin-top: 5px;
}

.text-block-3 {
  padding-top: 0px;
}

.div-block-2 {
  width: 40px;
  height: 40px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(2, 195, 142, 0.5);
  border-radius: 20px;
  background-color: rgba(2, 195, 142, 0.5);
}

.image-3 {
  position: relative;
  left: 8px;
  top: 6px;
}

.div-block-2-copy {
  width: 40px;
  height: 40px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 83, 118, 0.5);
  border-radius: 20px;
  background-color: rgba(0, 83, 118, 0.5);
}

.div-block-2-copy-2 {
  width: 40px;
  height: 40px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(2, 195, 142, 0.5);
  border-radius: 20px;
  background-color: rgba(2, 195, 142, 0.5);
}

.italic-text {
  font-weight: 400;
}

.italic-text-2 {
  font-style: normal;
}

.italic-text-3 {
  font-style: normal;
}

.italic-text-4 {
  font-style: normal;
}

.italic-text-5 {
  font-style: normal;
}

.link {
  margin-top: -16px;
  padding-top: 0px;
  float: right;
  clear: none;
  text-align: center;
}

.text-span-3 {
  color: #fff;
}

.text-block-4 {
  color: #fff;
}

.text-block-5 {
  color: #fff;
}

.heading-3 {
  margin-top: 0px;
}

.image-5 {
  opacity: 1;
}

.table-action-icon-2 {
  width: 22px;
}

.table-action-icon-2:hover {
  opacity: 0.75;
}

.table-action-icon-2.x {
  width: 16px;
}

.buttontoggle {
  position: relative;
  z-index: 2;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.buttontoggle._2 {
  background-color: #4347e7;
}

.link-block-10 {
  margin-left: 10px;
}

.table-arrows {
  width: 15px;
  margin-right: 8px;
  opacity: 0.35;
  cursor: pointer;
}

.table-arrows:hover {
  opacity: 0.6;
}

.table-arrows._2 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.scroll-table-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-406 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-406._2 {
  border: 1px none #ececec;
  font-size: 18px;
}

.table-action-icon {
  width: 22px;
  margin-right: 11px;
}

.table-action-icon:hover {
  opacity: 0.75;
}

.div-block-410 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-7 {
  margin-right: 8px;
  border-radius: 50%;
}

.table-data {
  color: #4e4e4e;
  font-size: 13px;
}

.table-data.link {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  text-decoration: none;
}

.table-data.name {
  font-weight: 600;
}

.link-block-12 {
  display: block;
}

.text-span-4 {
  display: inline-block;
  padding: 4px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(239, 7%, 67%, 0.5);
  border-radius: 5px;
  background-color: transparent;
}

.table-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #f9f9f9;
}

.table-box._2 {
  width: 18%;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.table-box._2.action {
  width: 7%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.table-box._2.small {
  width: 11%;
}

.table-box.action {
  width: 7%;
}

.table-box._11 {
  width: 11%;
}

.table-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin-top: 25px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.table-heading {
  font-family: Karla, sans-serif;
  color: #333;
  line-height: 18px;
  font-weight: 600;
  text-transform: none;
}

.table-row-nr {
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 700;
}

.div-block-411 {
  padding-right: 20px;
  padding-left: 10px;
}

.table-details-box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.togglebutton {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 16px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #e9e9e9;
  text-decoration: none;
}

.togglebutton.active {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: rgba(67, 71, 231, 0.6);
}

.div-block-412 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.table-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #dce0ec;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f3f3f3;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #fff;
  cursor: pointer;
}

.table-row:hover {
  box-shadow: 0 12px 10px 0 rgba(142, 143, 163, 0.06);
  color: #02c38e;
}

.table-row.head {
  border-radius: 4px 4px 0px 0px;
  background-color: #fff;
  cursor: default;
}

.table-row.head:hover {
  background-color: #fff;
  box-shadow: none;
}

.table-row.head.hide {
  display: none;
}

.table-row-export {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #dce0ec;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f1f6fd;
  color: #fff;
  cursor: pointer;
}

.table-row-export:hover {
  box-shadow: 0 12px 10px 0 rgba(142, 143, 163, 0.06);
  color: #02c38e;
}

.table-row-export.head {
  border-radius: 4px 4px 0px 0px;
  background-color: #fff;
  cursor: default;
}

.table-row-export.head:hover {
  background-color: #fff;
  box-shadow: none;
}

.table-row-export.head.hide {
  display: none;
}

.table-data-export {
  width: 230px;
  margin-left: -44px;
  padding-left: 0px;
  color: #4e4e4e;
  font-size: 13px;
  white-space: nowrap;
}

.table-data-export.link {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  text-decoration: none;
}

.table-data-export.name {
  font-weight: 600;
}

.table-box-export-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #f9f9f9;
}

.table-box-export-mobile._2 {
  width: 18%;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.table-box-export-mobile._2.action {
  width: 7%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.table-box-export-mobile._2.small {
  width: 11%;
}

.table-box-export-mobile.action {
  width: 7%;
}

.table-box-export-mobile._11 {
  width: 11%;
}

.phase-2-carrier-type {
  margin-top: 0px;
  margin-left: 0px;
  color: #005376;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
}

.column-6 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.phase-2-price-block {
  width: 80px;
  margin-top: 16px;
  margin-left: 6px;
  color: #005376;
  font-size: 14px;
  font-weight: 700;
  white-space: normal;
}

.image-8 {
  margin-left: -16px;
}

.image-9 {
  margin-top: 10px;
  color: #005376;
}

.div-block-413 {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #f1f6fd;
  border-radius: 0px;
}

.confirm {
  position: relative;
  left: 0px;
  top: 12px;
  right: auto;
  margin-left: auto;
  padding-right: 52px;
  padding-left: 52px;
  float: none;
  clear: none;
  border-radius: 4px;
  background-color: #005376;
}

.column-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-9 {
  padding-right: 0px;
  padding-left: 5px;
}

.bold-text {
  color: #02c38e;
}

.check {
  width: 24px;
  margin-right: 16px;
}

.line-break {
  width: 100%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 10px;
  background-color: #ececec;
}

.pricing-features {
  margin-top: 22px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.price-base {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 440px;
  padding-bottom: 20px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #005376;
}

.price-base.base-pink {
  background-color: #02c38e;
}

.length-text {
  color: #848199;
  font-size: 22px;
}

.price-type {
  margin-top: 0px;
  color: #231d4f;
  white-space: nowrap;
}

.price-button {
  position: absolute;
  margin-left: 25px;
  color: #fff;
  text-decoration: none;
}

.feature-text {
  color: #848199;
  font-size: 15px;
  white-space: nowrap;
}

.check-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-block {
  position: relative;
  left: -30px;
  top: -30px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  padding: 28px 28px 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.price-block.shadow-pink {
  box-shadow: 0px 5px 14px 0 rgba(2, 195, 142, 0.5);
}

.price-block.shadow-blue {
  box-shadow: 0px 11px 24px 0 rgba(0, 83, 118, 0.5);
}

.image-10 {
  margin-bottom: 0px;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 22px;
  padding-left: 22px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.column-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.column-11 {
  padding-right: 0px;
  padding-left: 0px;
}

.subscription-sub-head {
  margin-top: -61px;
  font-size: 17px;
  line-height: 1.3em;
  font-weight: 400;
}

.price-base-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 440px;
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 20px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #005376;
}

.price-base-2.base-pink {
  margin-right: 40px;
  background-color: #02c38e;
}

.price-type-2 {
  margin-top: 0px;
  color: #231d4f;
}

.feature-text-2 {
  color: #848199;
  font-size: 15px;
}

.price-grid {
  width: 100%;
  margin-top: auto;
  grid-column-gap: 120px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  h3 {
    font-size: 18px;
  }
  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .navigation-item {
    margin-right: 0em;
    margin-left: 0em;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: #f7f8f9;
  }
  .navigation-item:active {
    background-color: #eef0f3;
  }
  .navigation-item.footer-nav-item {
    padding-top: 0.5em;
  }
  .top-nav.footer-nav {
    min-height: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .dash-row.masonry {
    -webkit-column-count: 2;
    column-count: 2;
  }
  .white-box.link-box.paper-box {
    width: 31%;
  }
  .white-box.link-box.asset-box {
    width: 100%;
  }
  .template-right {
    width: 100%;
    height: auto;
  }
  .option-svg.desktop-login.current {
    display: block;
  }
  .template-left {
    width: 100%;
  }
  .project-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .large-number {
    font-size: 26px;
    line-height: 1.6;
  }
  .link-block-10 {
    margin-left: 0px;
  }
  .scroll-table-content {
    overflow: scroll;
  }
  .div-block-406._2 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .table-box {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .table-box._2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .table-box._2.action {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .table-box._2.small {
    padding-right: 12px;
  }
  .table-box-export-mobile {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .table-box-export-mobile._2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .table-box-export-mobile._2.action {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .table-box-export-mobile._2.small {
    padding-right: 12px;
  }
  .price-base.base-pink {
    min-height: auto;
  }
  .price-block {
    left: 0px;
    top: -20px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .price-base-2.base-pink {
    min-height: auto;
  }
  .price-grid {
    max-width: 680px;
    grid-column-gap: 0px;
    grid-row-gap: 68px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .submit-button-1 {
    position: static;
    left: 0px;
    top: 12px;
    right: 57px;
    /* margin-left: 23px; */
    padding-right: 116px;
    padding-left: 116px;
    border-radius: 4px;
    background-color: #005376;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .signup-label {
    font-family: Ubuntu;
    margin-bottom: 2px;
  }
  .login-image {
    height: 28px;
  }
  .login-button {
    margin-top: 15px;
  }
  .field-wrapper.first-name-wrapper {
    margin-right: 5%;
  }
  .made-with-memberstack {
    padding: 10px 18px;
    font-size: 12px;
  }
  .logo-link {
    padding-left: 0px;
  }
  .navigation-item {
    padding-right: 0.5em;
    padding-left: 0.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
  }
  .navigation-item.profile-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navigation-item.footer-nav-item {
    margin-left: 0em;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .top-nav.footer-nav {
    min-height: 250px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }
  .navigation-icon {
    min-height: 20px;
    margin-right: 0em;
    margin-bottom: 10px;
    text-align: center;
  }
  .navigation-menu {
    padding-right: 1em;
    padding-left: 1em;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .nav-dropdown-list {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .white-box.link-box {
    width: 100%;
  }
  .white-box.link-box.paper-box {
    width: 48%;
  }
  .white-box.third {
    width: 48%;
    margin-right: auto;
    margin-left: auto;
  }
  .white-box.third.mobile-full-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 98%;
    height: 165px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .white-box.two-third {
    width: 100%;
  }
  .box-padding.mobile-flex-padding {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 1em;
    padding-left: 1em;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .doc-description {
    max-height: 68px;
  }
  .html-embed {
    bottom: 0px;
  }
  .control-bar {
    display: none;
  }
  .project-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .scroll-table-content {
    margin-right: 33px;
  }
  .table-container {
    position: relative;
    overflow: hidden;
  }
  .table-data-wrapper {
    position: relative;
  }
  .scroll-container {
    overflow: hidden;
    width: 100vw;
  }
  .table-box.action {
    width: 48px;
  }
  .table-wrapper {
    overflow: hidden;
  }
  .table-row {
    width: 740px;
  }
  .table-row.head {
    display: none;
    width: 650px;
  }
  .table-row.head.hide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 740px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .table-row-export {
    width: 740px;
  }
  .table-row-export.head {
    display: none;
    width: 650px;
  }
  .table-row-export.head.hide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 740px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .table-box-export-mobile.action {
    width: 48px;
  }
}

@media screen and (max-width: 479px) {
  .login-head {
    font-size: 22px;
    font-weight: 700;
  }
  .login-container {
    min-width: 0px;
  }
  .navigation-item {
    width: 100%;
    font-size: 12px;
  }
  .navigation-item.profile-nav {
    width: auto;
  }
  .navigation-item.footer-nav-item {
    width: auto;
  }
  .navigation-item.hide-on-mobile {
    display: none;
  }
  .top-nav {
    padding-right: 0em;
    padding-left: 1em;
  }
  .top-nav.footer-nav {
    min-height: 120px;
  }
  .navigation-icon {
    z-index: 999;
    margin-bottom: 3px;
    font-size: 16px;
  }
  .navigation-menu {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding: 0em;
  }
  .dashboard-section {
    padding-right: 1em;
    padding-left: 1em;
  }
  .dash-row.masonry {
    -webkit-column-count: 1;
    column-count: 1;
  }
  .white-box.link-box.paper-box {
    max-width: 300px;
    min-width: 210px;
    margin-bottom: 4%;
  }
  .white-box.full-width {
    margin-bottom: 5%;
    margin-left: -1%;
  }
  .white-box.third {
    width: 100%;
  }
  .box-padding {
    width: 100%;
  }
  .progress-text-column {
    font-size: 12px;
  }
  .doc-image {
    width: 70%;
  }
  .template-left {
    padding-right: 0px;
    padding-left: 0px;
  }
  .large-number {
    position: relative;
  }
  .tabs {
    z-index: 9;
  }
  .mobile-footer-spacing {
    display: block;
    height: 67px;
  }
  .map {
    height: 660px;
    margin-top: 0px;
  }
  .image-4 {
    margin-left: -38px;
    padding-left: 0px;
  }
  .scroll-table-content {
    margin-right: 30px;
  }
  .div-block-406._2 {
    padding-right: 0px;
    padding-left: 16px;
  }
  .table-details-box {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .div-block-412 {
    margin-bottom: 15px;
  }
  .table-box-export-mobile._2.small {
    margin-left: 129px;
    padding-right: 0px;
  }
  .phase-2-carrier-type {
    margin-left: 0px;
  }
  .phase-2-price-block {
    margin-top: -47px;
    margin-left: 0px;
    padding-left: 50px;
    float: right;
  }
  .image-8 {
    margin-left: 4px;
  }
  .price-base {
    width: 130%;
  }
  .price-block {
    padding-right: 22px;
    padding-left: 22px;
  }
  .price-block.shadow-blue {
    z-index: 2;
  }
  .column-10 {
    display: -ms-grid;
    display: grid;
    padding-right: 0px;
    padding-left: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .column-11 {
    padding-top: 57px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .subscription-sub-head {
    font-size: 14px;
    font-weight: 400;
  }
  .price-base-2 {
    margin-right: auto;
    margin-left: auto;
  }
  .price-base-2.base-pink {
    margin-right: auto;
    margin-left: auto;
  }
}

@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Iconmonstr iconic font';
  src: url('../fonts/iconmonstr-iconic-font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* new modal line */

.modal-form-block {
  overflow: hidden;
  margin-top: 220px;
  margin-bottom: auto;
  padding-bottom: 30px;
  border-radius: 3px;
  background-color: #f1f6fd;
  box-shadow: 1px 1px 50px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-div-field {
  margin-right: 25px;
  margin-left: 25px;
}

.modal-hero {
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 4px 4px 0px 0px;
  background-color: #005376;
}

.form {
  border-radius: 4px;
}

.h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.modal-h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.modal-paragraph {
  color: #fff;
}

.text-field {
  display: inline-block;
  width: 500px;
  height: 50px;
  margin-top: 10px;
  clear: none;
  border-radius: 4px;
  font-size: 17px;
}

.submit-button-3 {
  margin-top: 16px;
  border-radius: 4px;
  background-color: #02c38e;
  font-size: 17px;
  font-weight: 400;
}

.close-modal-button {
  position: absolute;
  left: auto;
  top: 197px;
  right: 146px;
  bottom: 0%;
  width: 30px;
  padding: 5px;
}

.text-block-13 {
  padding-bottom: 0px;
}

.modal-wrapper-mobile {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.91);
}

.modal-form-block-mobile {
  overflow: hidden;
  margin-top: 120px;
  margin-bottom: auto;
  padding-bottom: 30px;
  border-radius: 3px;
  background-color: #f1f6fd;
  box-shadow: 1px 1px 50px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.toggle{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}