<!DOCTYPE html>
<!--  Last Published: Sun Aug 02 2020 22:27:31 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5f1978095a2bb2704b17e3e0" data-wf-site="5f1978088defa977a385d8f0">
<head>
  <meta charset="utf-8">
  <title>Protected page</title>
  <meta content="Protected page" property="og:title">
  <meta content="Protected page" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/bxndash.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Varela:400","Karla:regular,700"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <!--  Memberstack  -->
  <script src="https://api.memberstack.io/static/memberstack.js?webflow" data-memberstack-id="01bf90e1189ea5c376bb2932187f17de"> </script>
  <!-- Chart.js CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
  <div class="utility-page-wrap">
    <div class="utility-page-content w-password-page w-form">
      <form method="post" action="/.wf_auth" class="utility-page-form w-password-page"><img src="https://d3e54v103j8qbb.cloudfront.net/static/password-page-lock.832ca8e2c9.svg" alt="">
        <h2>Protected page</h2>
        <div style="display:none" class="w-password-page w-embed w-script"><input type="hidden" name="path" value="<%WF_FORM_VALUE_PATH%>"><input type="hidden" name="page" value="<%WF_FORM_VALUE_PAGE%>"></div><input type="password" name="pass" placeholder="Enter your password" maxlength="256" autofocus="true" class="w-password-page w-input"><input type="submit" value="Submit" data-wait="Please wait..." class="w-password-page w-button"></form>
      <div class="w-password-page w-form-fail">
        <div>Incorrect password. Please try again.</div>
      </div>
      <div style="display:none" class="w-password-page w-embed w-script">
        <script type="application/javascript">(function _handlePasswordPageOnload() {
	  if (/[?&]e=1(&|$)/.test(document.location.search)) {
	    document.querySelector('.w-password-page.w-form-fail').style.display = 'block';
	  }
	})()</script>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5f1978088defa977a385d8f0" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/bxndash.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <div memberstack-template="Client Dashboard Template"></div>
  <!-- Crisp + MemberStack -->
  <script>
    MemberStack.onReady.then(function(member) {
    var email = member["email"]
    var name = member["first-name"]
    if (member.loggedIn) {
        try{
            $crisp.push(["set", "user:email", [email] ])
            $crisp.push(["set", "user:nickname", [name] ])
          } catch(e) {}
    }
})
</script>
  <!--  Load Google Places API  -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYfjK7jqijDILHgumoVLZJ5oglAzLUq5E&libraries=places&region=GH"></script>
  <!--  Set autocomplete input  -->
  <script>
  let gpaInput = document.getElementById("pickup");
  autocomplete = new google.maps.places.Autocomplete(gpaInput);
  let place = autocomplete.gpaInput.getPlace();
	var lat = place.geometry.location.lat('map');
	var lng = place.geometry.location.lat('map');
</script>
  <script>
  let gpaInput2 = document.getElementById("dropoff");
  autocomplete = new google.maps.places.Autocomplete(gpaInput2);
</script>
</body>
</html>